
#Headbar {
    height: 125px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border: 0px solid;
    background-color: #D92E2E;
    box-shadow: 1px 1px 4px #000;
    position: relative;

}

html, body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif
}

body {
    background-color: #B31919
}

#pagename {
    color:#fff;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 300%;
    
}

#navigation {
    width: 33%;
    height: 55px;
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    display:table;
    text-align: center
}



#navigation a {
    text-decoration: none;
    display: block;
    height: 55px;
    font-size: 30px;
    color: #ffffff
}

#navigation ul {
    height:auto;
    padding: 8px 0px;
    margin:0px;
}



#navigation li {
    display: inline;
    padding: 16px 16px;
}



#navigation span {
    float:left;
    width: 33%;
    line-height: 55px;
    display: block;
}

